.tabla{
    background-color:#CDEDF6;
    color:green;

}
.barra th{
    background-color:green;
    color:beige;

}

.card{
    background-color:aqua;
    color:#C62E65;
}

.section{
    background-color:green;
    color:#C62E65;
}

